.inc_af_block.af_cart_page {
  padding: 40px 0px 30px;
  background: #ffffff;
  position: relative;
  border-top: 1.5px solid #d0d0d0;
  width: 100%;
  margin: auto;
  margin-top: 20px;
  overflow: hidden;

  @include media_query("1268", "max") {
    max-width: 100%;
  }

  @include media_query("820", "max") {
    max-width: 100%;
    min-width: 100%;
    padding: 30px 0px 30px;
    margin-top: 20px;
  }
  .inc_af_title_block {
    font-weight: 700;
    font-size: 27px;
    line-height: 21px;
    color: #000000;
    text-align: center;
    padding: 0px 0 32px;
    font-family: $font-family;
    text-transform: uppercase;
    letter-spacing: 0.006em;
    text-transform: uppercase;
    color: #000000;
    @include media_query("820", "max") {
      padding: 0px 0 25px;
      font-size: 24px;
    }
  }
  .inc_af_bundles_block {
    position: relative;
    max-width: 69.5rem;
    margin: 0 auto;
    @include media_query("1268", "max") {
      max-width: 100%;
      padding-right: 0px;
    }
    @include media_query("820", "max") {
      max-width: 100%;
      padding: 0;
    }
    .inc_af_left_block {
      .inc_af_left_btn_block {
        .inc_af_left_btn_img_block {
          .inc_af_left_btn_img {
            background: #000000 url(../images/sprite.svg) 4px -537px/41px no-repeat;
            position: absolute;
            left: -60px;
            bottom: 36%;
            z-index: 5;
            cursor: pointer;
            transform: rotate(180deg);
            width: 48px;
            height: 97px;
            @include media_query("1300", "max") {
              left: -40px;
              background: #000000 url(../images/sprite.svg) 1px -536px/41px no-repeat;
            }
            @include media_query("1268", "max") {
              display: none;
            }
            @include media_query("920", "max") {
              left: -40px;
            }
            @include media_query("820", "max") {
              display: none;
            }
          }
        }
      }
    }
    .inc_af_product-list-main_block {
      overflow: hidden;
      position: relative;
      margin: 0 auto;
      @include media_query("820", "max") {
        overflow: auto;
        &::-webkit-scrollbar {
          width: 4px;
          height: 8px;
        }
      }
      .inc_af_product-list_block {
        position: relative;
        @include flexbox();
        left: 0px;
        transition-duration: 0.5s;
        -webkit-transition-duration: 0.5s;
        @include media_query("1268", "max") {
          overflow-x: auto;
          padding-bottom: 20px;
        }
        &.less_product {
          @include justify-content(center);
          @include media_query("600", "max") {
            @include justify-content(flex-start);
          }
        }
        &.inc_one_product {
          @include justify-content(center);
        }
        @include media_query("820", "max") {
          padding-bottom: 20px;
          min-width: 100%;
        }
        .inc_product_module_block {
          flex: unset;
          margin-bottom: 15px;
          padding: 0 10px;

          @include media_query("820", "max") {
            padding: 0px 22px 0 5px;
          }
          .inc_product_showcase_block {
            .inc_product_block {
              min-width: 100%;
              max-width: 100%;
              margin: 0px !important;
              background: #ffffff;
              min-height: auto;
              padding: 0;
              @include media_query("990", "max") {
                width: 257px;
              }
              @include media_query("820", "max") {
                width: 230px;
              }
              .inc_product_info_main_block {
                display: block;
              }
              .inc_product_img_block {
                padding: 10px 17px 0px;
                @include media_query("820", "max") {
                  padding: 0;
                }
                .inc_product_extension_block {
                  left: 0px;
                }
                .inc_product_img_main_block {
                  @include media_query("820", "max") {
                    padding: 0;
                  }
                  .inc_product_img_main_img {
                    height: 285px;
                    width: 100%;
                    @include media_query("820", "max") {
                      height: 224px;
                    }
                    img {
                      padding: 0;
                      cursor: pointer;
                      @include media_query("820", "max") {
                        object-fit: contain;
                      }
                    }
                  }
                }
              }
              .inc_product_desc_block {
                padding: 0 18px;
                @include media_query("820", "max") {
                  padding: 0 2px;
                }
                .inc_product_desc_title_text {
                  a {
                    width: 100%;
                    margin: 8px 0;
                    text-align: center;
                    cursor: pointer;
                    div {
                      font-weight: 500;
                      @include media_query("820", "max") {
                        min-height: 40px;
                        text-align: center;
                      }
                    }
                  }
                }

                .inc_product_desc_ecirp_block {
                  padding-bottom: 0;
                  margin-bottom: 10px;
                  justify-content: center;
                  @include media_query("820", "max") {
                    align-items: center;
                    margin-bottom: 7px;
                    min-height: 44px;
                  }
                  .inc_product_ecirp_label_block {
                    @include media_query("820", "max") {
                      text-align: center;
                      align-items: center;
                    }
                  }
                }
                .inc_product_desc_ratings_block {
                  justify-content: center;
                  @include media_query("820", "max") {
                    margin-bottom: 6px;
                  }
                  &.inc_hide {
                    @include media_query("820", "max") {
                      visibility: hidden;
                      display: block;
                    }
                  }
                }
                .inc_product_desc_qty_add_btn_block {
                  display: none;
                  .inc_product_desc_add_block {
                    display: none;
                  }
                }
                .inc_product_desc_att_details_block {
                  display: flex;
                  flex-direction: row;
                  .inc_product_variant_simple_block {
                    display: block !important;
                    cursor: pointer;
                    order: 2;
                    width: 100%;
                    .inc_product_variant_simple_text {
                      background: #e3483d;

                      font-weight: 700;
                      font-size: 16px;
                      line-height: 20px;
                      text-align: center;
                      color: $white;
                      min-height: 40px;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      font-family: $font-family;
                      margin: 0 auto;
                      cursor: pointer;
                      text-transform: uppercase;

                      &.simple {
                        opacity: 1;
                        z-index: 1;
                        visibility: visible;
                        &::after {
                          display: none;
                        }
                      }
                      span {
                        color: #e3483d;
                      }

                      &.config {
                        color: #e3483d;
                        background: #ffffff;
                        border: 1px solid #e3483d;
                        text-transform: none;
                        &::after {
                          display: none;
                        }
                      }
                    }
                  }
                  .inc_product_desc_att_block {
                    display: none;
                    &.attributes_avail {
                      display: flex;
                      order: 1;
                      margin-bottom: 10px;

                      justify-content: center;
                      align-items: center;
                      box-sizing: border-box;
                      cursor: pointer;
                      @include media_query("820", "max") {
                        z-index: 99;
                      }
                      .inc_product_desc_att_zero_block {
                        display: none;
                        &.inc_active {
                          display: flex !important;
                          flex-direction: column;
                          justify-content: center;
                          align-items: center;
                          min-height: 36px;
                          position: absolute;
                          bottom: 39%;
                          left: 16px;
                          background: #eeeeee;
                          width: 225px;
                          z-index: 1;
                          padding-top: 0;
                          height: 36px;
                          @include media_query("820", "max") {
                            bottom: 44%;
                            left: 0px;
                            width: 100%;

                            max-width: 100%;
                          }
                        }
                        .inc_product_desc_att_zero_title_block {
                          .inc_product_desc_att_zero_title_text_block {
                            .inc_product_desc_att_zero_title_text {
                              font-weight: 700;
                              font-size: 12.8px;
                              line-height: 20px;
                              letter-spacing: 0.006em;
                              text-transform: uppercase;
                              color: #000000;
                              font-family: $font-family;
                            }
                            .inc_product_desc_att_zero_title_text_selected {
                              display: none;
                            }
                          }
                        }
                        .inc_product_desc_att_zero_list_block {
                          display: flex;
                          padding: 5px 8px 8px;
                          flex-wrap: wrap;
                          justify-content: center;
                          text-align: center;
                          align-items: center;
                          display: none;
                          @include media_query("820", "max") {
                          }

                          .inc_product_desc_att_size_list_item_img_block {
                            font-size: 0;
                            margin: 0 4px 5px 2px;
                            .inc_product_desc_att_size_list_item_img {
                              font-size: 0;
                            }
                            img {
                              width: 20px;
                              height: 8px;
                            }
                          }
                        }
                      }
                      .inc_product_desc_att_size_block {
                        display: none;
                        &.inc_active {
                          display: flex !important;
                          flex-direction: column;
                          justify-content: center;
                          align-items: center;
                          height: 36px;
                          position: absolute;
                          bottom: 39%;
                          left: 16px;
                          background: #eeeeee;
                          width: 225px;
                          font-weight: 700;
                          font-size: 12.8px;
                          line-height: 20px;
                          text-align: center;
                          letter-spacing: 0.006em;
                          text-transform: uppercase;
                          color: #000000;
                          z-index: 1;
                          @include media_query("820", "max") {
                            bottom: 44%;
                            left: 0px;
                            width: 100%;

                            max-width: 100%;
                          }
                          .inc_product_desc_att_size_title_text_block {
                            .inc_product_desc_att_size_title_text_selected {
                              display: none;
                            }
                          }
                          .inc_product_desc_att_size_list_block {
                            display: none;
                          }
                        }
                      }
                      .inc_product_desc_att_color_block {
                        position: relative;
                        display: none;
                        @include media_query("820", "max") {
                          border: 0;
                        }
                        &.inc_active {
                          display: flex !important;
                          flex-direction: column;
                          justify-content: center;
                          align-items: center;
                          min-height: 60px;
                          position: absolute;
                          bottom: 39%;
                          left: 16px;
                          background: #eeeeee;
                          width: 225px;
                          z-index: 2;
                          padding-top: 8px;
                          max-height: 60px;
                          @include media_query("820", "max") {
                            min-height: 50px;
                            bottom: 44%;
                            left: 0px;
                            width: 100%;
                            max-height: 50px;
                            max-width: 100%;
                          }
                        }
                        .inc_product_desc_att_color_title_block {
                          .inc_product_desc_att_color_title_text_block {
                            .inc_product_desc_att_color_title_text {
                              font-weight: 700;
                              font-size: 12.8px;
                              line-height: 20px;
                              letter-spacing: 0.006em;
                              text-transform: uppercase;
                              color: #000000;
                              font-family: $font-family;
                              background: none !important;
                              &.img_tag_avail {
                                img {
                                  display: none;
                                }
                              }
                            }
                            .inc_product_desc_att_color_title_text_selected {
                              display: none;
                            }
                          }
                        }
                        .inc_product_desc_att_color_list_block {
                          display: flex;
                          padding: 5px 8px 8px;
                          flex-wrap: wrap;
                          justify-content: center;
                          text-align: center;
                          align-items: center;
                          &.greater6 {
                            flex-wrap: nowrap;
                            overflow: hidden;
                          }
                          .inc_more_color {
                            display: none;
                          }
                          .inc_product_desc_att_color_list_item_block {
                            .inc_product_desc_att_color_list_item_img_block {
                              font-size: 0;
                              margin: 0 4px 5px 2px;
                              width: 20px;
                              height: 8px;
                              .inc_product_desc_att_color_list_item_img {
                                font-size: 0;
                                a {
                                  display: none;
                                }
                              }
                              img {
                                width: 20px;
                                height: 8px;
                              }
                            }
                          }
                        }
                      }
                    }
                    .inc_product_desc_att_zero_block,
                    .inc_product_desc_add_title_text_block,
                    .inc_product_desc_att_size_block,
                    .inc_product_desc_att_variant_add_block,
                    .inc_product_desc_att_third_block {
                      display: none !important;
                    }
                  }
                }
              }

              &::before {
                content: "";
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1111;
                width: 100%;
                height: 100%;
                transition: 0.2s;
                visibility: hidden;
                opacity: 0;
                pointer-events: none;
              }

              &.show_overlay {
                &::before {
                  visibility: visible;
                  opacity: 1;
                  pointer-events: all;
                  bottom: 0;
                }
              }

              &.simple {
                .inc_product_desc_qty_add_btn_block {
                  display: none !important;
                  .inc_product_qty_block {
                    display: none !important;
                  }
                  .inc_product_desc_add_block {
                    display: block !important;
                    .inc_product_desc_add_text_block {
                      .inc_product_desc_add_text {
                        cursor: pointer;
                      }
                    }
                  }
                }
                .inc_product_desc_att_block {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
    .inc_af_right_block {
      .inc_af_right_btn_block {
        .inc_af_right_btn_img_block {
          .inc_af_right_btn_img {
            background: #000000 url(../images/sprite.svg) 4px -537px/41px no-repeat;
            position: absolute;
            right: -60px;
            bottom: 36%;
            z-index: 1;
            cursor: pointer;
            width: 48px;
            height: 97px;
            @include media_query("1300", "max") {
              right: -40px;
              background: #000000 url(../images/sprite.svg) 1px -536px/41px no-repeat;
            }
            @include media_query("1268", "max") {
              display: none;
            }

            @include media_query("920", "max") {
              right: -40px;
            }
            @include media_query("820", "max") {
              display: none;
            }
          }
        }
      }
    }
  }
}

.inc_af_block
  .inc_product_showcase_block
  .inc_product_block
  .inc_product_desc_block
  .inc_product_desc_qty_add_btn_block
  .inc_product_add_block {
  @include media_query("820", "max") {
    display: none;
    margin-bottom: 10px;
  }
}

.inc_af_block .btn-disable-modal {
  margin-left: 0 !important;
  left: 6px !important;
  top: 6px !important;
}

.inc_overlay {
  .inc_af_block.af_cart_page {
    .inc_af_bundles_block {
      .inc_af_product-list-main_block {
        @include media_query("820", "max") {
          overflow: visible;
          .inc_af_product-list_block {
            overflow: visible;
          }
        }
      }
    }
  }
}
