.inc_af_block.af_cart_page {
  &.inc_recommendations {
    clear: both;
    border: none;
    background: #f4f4f4;
    padding: 45px 0 20px;
    margin-top: 0;
    margin-bottom: 0px;
    position: relative;

    @include media_query("1268", "max") {
      max-width: 90%;
    }
    @include media_query("1190", "max") {
      padding-bottom: 0px;
    }
    @include media_query("820", "max") {
      border-bottom: none;
      margin-top: 0;
      padding-bottom: 0;
      margin-bottom: 0;
      padding-top: 45px;
      border: none;
    }
    .inc_af_title_block {
      @include media_query("820", "max") {
        padding: 0px 0 30px;
      }
      .inc_af_title_text_block {
        font-weight: 700;
        font-size: 28px;
        line-height: 20px;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
        font-family: $font-family;
        @include media_query("820", "max") {
          font-size: 22px;
        }
        @include media_query("380", "max") {
          font-size: 16px;
        }
      }
    }
    .inc_af_bundles_block {
      padding-bottom: 20px;
      max-width: 71rem;
      @include media_query("1268", "max") {
        padding-right: unset;
      }
      @include media_query("820", "max") {
        margin: 0 8px 0 4px;
        padding-bottom: 8px;
      }
      .inc_af_left_block {
        .inc_af_left_btn_block {
          .inc_af_left_btn_img_block {
            .inc_af_left_btn_img {
              background: transparent url(../images/sprite.svg) 4px -285px/41px no-repeat;
              position: absolute;
              left: -60px;
              bottom: 44%;
              z-index: 1;
              cursor: pointer;
              transform: rotate(0deg);
              width: 48px;
              height: 48px;
            }
          }
        }
      }
      .inc_af_product-list-main_block {
        .inc_product_module_block {
          padding: 0 18px 0 11px !important;
        }
        .inc_product_showcase_block {
          .inc_product_block {
            margin: auto 8px !important;
            .inc_product_img_block {
              padding: 0px 16px 0px !important;
              .inc_product_img_main_block {
                .inc_product_img_main_img {
                  height: 254px !important;
                  margin-bottom: 20px;
                  @include media_query("820", "max") {
                    height: 200px !important;
                  }
                  img {
                    padding-top: 10px !important;
                  }
                }
              }
            }
            .inc_product_desc_block {
              padding: 0 16px 15px 16px !important;
              .inc_product_desc_att_details_block {
                .inc_product_desc_att_block {
                  .inc_product_desc_att_color_block {
                    .inc_product_desc_att_color_list_block {
                      .inc_more_color {
                        @include media_query("420", "max") {
                          height: auto !important;
                        }
                      }
                    }
                  }
                  display: none;
                  &.attributes_avail {
                    .inc_product_desc_att_zero_block {
                      &.inc_active {
                        bottom: 44% !important;
                        left: 16px !important;
                        @include media_query("820", "max") {
                          bottom: 47% !important;
                          left: 16px !important;
                          width: 198px !important;
                          max-width: 198px !important;
                        }
                      }
                    }
                    .inc_product_desc_att_color_block {
                      &.inc_active {
                        bottom: 44% !important;
                        left: 16px !important;
                        @include media_query("820", "max") {
                          bottom: 47% !important;
                          left: 16px !important;
                          width: 198px !important;
                          max-width: 198px !important;
                        }
                      }
                    }
                    .inc_product_desc_att_size_block {
                      &.inc_active {
                        bottom: 44% !important;
                        left: 16px !important;
                        @include media_query("820", "max") {
                          bottom: 47% !important;
                          left: 16px !important;
                          width: 198px !important;
                          max-width: 198px !important;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .inc_af_right_block {
        .inc_af_right_btn_block {
          .inc_af_right_btn_img_block {
            .inc_af_right_btn_img {
              background: transparent url(../images/sprite.svg) 4px -278px/41px no-repeat;
              position: absolute;
              right: -60px;
              bottom: 44%;
              z-index: 1;
              cursor: pointer;
              transform: rotate(180deg);
              width: 48px;
              height: 48px;
            }
          }
        }
      }
    }
  }
}
